<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65a43e8d680bbc8ce8e7c53987c92cd3:f398617e7845ef9ba2393f1f73768b01:ffa35660ed3fb573846574c2a0036c70$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Zealot.1.png</string>
                <key>size</key>
                <string>{64,792}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_dead_3.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{51,64}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{61,50}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_dead_2.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{50,55}</string>
                        <key>textureRect</key>
                        <string>{{1,53},{55,49}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_dead_6.png</string>
                        <key>spriteOffset</key>
                        <string>{3,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{50,60}</string>
                        <key>textureRect</key>
                        <string>{{1,104},{55,44}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_dead_4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{53,70}</string>
                        <key>textureRect</key>
                        <string>{{1,150},{53,68}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_dead_5.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{52,70}</string>
                        <key>textureRect</key>
                        <string>{{1,220},{49,68}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_dead_1.png</string>
                        <key>spriteOffset</key>
                        <string>{4,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{50,52}</string>
                        <key>textureRect</key>
                        <string>{{1,290},{45,44}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_attack_side_5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,336},{39,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_down_5.png</string>
                        <key>spriteOffset</key>
                        <string>{5,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{42,336},{21,35}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_attack_side_3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,372},{38,35}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_side_8.png</string>
                        <key>spriteOffset</key>
                        <string>{4,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{41,373},{22,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_attack_side_2.png</string>
                        <key>spriteOffset</key>
                        <string>{1,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,409},{37,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_down_6.png</string>
                        <key>spriteOffset</key>
                        <string>{4,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{40,409},{23,35}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_attack_side_4.png</string>
                        <key>spriteOffset</key>
                        <string>{1,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,445},{34,32}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_side_5.png</string>
                        <key>spriteOffset</key>
                        <string>{3,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{37,446},{25,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_attack_side_1.png</string>
                        <key>spriteOffset</key>
                        <string>{2,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,479},{34,30}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_up_8.png</string>
                        <key>spriteOffset</key>
                        <string>{2,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{37,482},{25,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_down_7.png</string>
                        <key>spriteOffset</key>
                        <string>{1,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,511},{34,28}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_side_1.png</string>
                        <key>spriteOffset</key>
                        <string>{4,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{37,516},{24,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_down_2.png</string>
                        <key>spriteOffset</key>
                        <string>{4,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,541},{34,23}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_up_2.png</string>
                        <key>spriteOffset</key>
                        <string>{3,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{37,551},{24,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_down_1.png</string>
                        <key>spriteOffset</key>
                        <string>{4,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,566},{34,21}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_up_4.png</string>
                        <key>spriteOffset</key>
                        <string>{3,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{37,586},{24,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_side_7.png</string>
                        <key>spriteOffset</key>
                        <string>{3,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,589},{34,21}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_down_3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,612},{33,28}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_down_8.png</string>
                        <key>spriteOffset</key>
                        <string>{3,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{36,620},{24,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_side_2.png</string>
                        <key>spriteOffset</key>
                        <string>{4,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,642},{33,23}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_up_6.png</string>
                        <key>spriteOffset</key>
                        <string>{3,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{36,653},{24,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_side_4.png</string>
                        <key>spriteOffset</key>
                        <string>{4,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,667},{33,23}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_side_6.png</string>
                        <key>spriteOffset</key>
                        <string>{3,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{36,686},{23,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_up_3.png</string>
                        <key>spriteOffset</key>
                        <string>{1,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,692},{32,29}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_up_7.png</string>
                        <key>spriteOffset</key>
                        <string>{2,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{35,721},{28,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_down_4.png</string>
                        <key>spriteOffset</key>
                        <string>{3,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,723},{32,23}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_up_5.png</string>
                        <key>spriteOffset</key>
                        <string>{5,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,748},{32,21}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_side_3.png</string>
                        <key>spriteOffset</key>
                        <string>{2,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{38,41}</string>
                        <key>textureRect</key>
                        <string>{{35,754},{22,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>zealot_walk_up_1.png</string>
                        <key>spriteOffset</key>
                        <string>{5,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,41}</string>
                        <key>textureRect</key>
                        <string>{{1,771},{32,20}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
