<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91b0a04b4319dedc1cd3e990999be33b:35b0078128103027da473de3ed7f13f9:e98a34a54451f6bf90be24565a47d0bf$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Ultralisk.1.png</string>
                <key>size</key>
                <string>{748,251}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{93,87}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{83,92}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death5.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{92,86}</string>
                        <key>textureRect</key>
                        <string>{{1,95},{85,89}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side9.png</string>
                        <key>spriteOffset</key>
                        <string>{0,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{80,73}</string>
                        <key>textureRect</key>
                        <string>{{1,186},{76,61}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up8.png</string>
                        <key>spriteOffset</key>
                        <string>{3,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{71,80}</string>
                        <key>textureRect</key>
                        <string>{{79,186},{71,63}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{90,89}</string>
                        <key>textureRect</key>
                        <string>{{86,1},{84,89}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death4.png</string>
                        <key>spriteOffset</key>
                        <string>{1,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{91,89}</string>
                        <key>textureRect</key>
                        <string>{{88,92},{84,89}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side1.png</string>
                        <key>spriteOffset</key>
                        <string>{2,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{84,73}</string>
                        <key>textureRect</key>
                        <string>{{152,183},{74,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,85}</string>
                        <key>textureRect</key>
                        <string>{{172,1},{84,88}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{90,85}</string>
                        <key>textureRect</key>
                        <string>{{174,91},{83,89}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up7.png</string>
                        <key>spriteOffset</key>
                        <string>{5,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{73,76}</string>
                        <key>textureRect</key>
                        <string>{{228,182},{65,68}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death9.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{92,83}</string>
                        <key>textureRect</key>
                        <string>{{258,1},{92,80}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death8.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{90,86}</string>
                        <key>textureRect</key>
                        <string>{{259,83},{81,90}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side8.png</string>
                        <key>spriteOffset</key>
                        <string>{7,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{81,74}</string>
                        <key>textureRect</key>
                        <string>{{295,175},{62,70}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_death1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{89,82}</string>
                        <key>textureRect</key>
                        <string>{{342,83},{77,88}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side7.png</string>
                        <key>spriteOffset</key>
                        <string>{8,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{81,74}</string>
                        <key>textureRect</key>
                        <string>{{359,173},{62,69}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up2.png</string>
                        <key>spriteOffset</key>
                        <string>{3,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{81,71}</string>
                        <key>textureRect</key>
                        <string>{{352,1},{60,70}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up9.png</string>
                        <key>spriteOffset</key>
                        <string>{7,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{75,78}</string>
                        <key>textureRect</key>
                        <string>{{414,1},{60,69}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side6.png</string>
                        <key>spriteOffset</key>
                        <string>{8,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{81,71}</string>
                        <key>textureRect</key>
                        <string>{{421,72},{62,65}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up1.png</string>
                        <key>spriteOffset</key>
                        <string>{4,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{68,75}</string>
                        <key>textureRect</key>
                        <string>{{476,1},{60,66}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side2.png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,74}</string>
                        <key>textureRect</key>
                        <string>{{423,139},{62,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down4.png</string>
                        <key>spriteOffset</key>
                        <string>{4,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,60}</string>
                        <key>textureRect</key>
                        <string>{{423,204},{70,46}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down8.png</string>
                        <key>spriteOffset</key>
                        <string>{5,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{73,67}</string>
                        <key>textureRect</key>
                        <string>{{485,69},{62,63}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down7.png</string>
                        <key>spriteOffset</key>
                        <string>{2,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{70,72}</string>
                        <key>textureRect</key>
                        <string>{{538,1},{60,65}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up3.png</string>
                        <key>spriteOffset</key>
                        <string>{2,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,67}</string>
                        <key>textureRect</key>
                        <string>{{487,134},{72,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up6.png</string>
                        <key>spriteOffset</key>
                        <string>{6,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{77,65}</string>
                        <key>textureRect</key>
                        <string>{{549,68},{67,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down9.png</string>
                        <key>spriteOffset</key>
                        <string>{5,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{70,67}</string>
                        <key>textureRect</key>
                        <string>{{600,1},{60,62}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down6.png</string>
                        <key>spriteOffset</key>
                        <string>{5,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,65}</string>
                        <key>textureRect</key>
                        <string>{{495,189},{67,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down2.png</string>
                        <key>spriteOffset</key>
                        <string>{4,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{79,63}</string>
                        <key>textureRect</key>
                        <string>{{561,126},{70,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down3.png</string>
                        <key>spriteOffset</key>
                        <string>{3,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{80,59}</string>
                        <key>textureRect</key>
                        <string>{{618,65},{72,48}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up4.png</string>
                        <key>spriteOffset</key>
                        <string>{6,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{80,63}</string>
                        <key>textureRect</key>
                        <string>{{662,1},{69,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_up5.png</string>
                        <key>spriteOffset</key>
                        <string>{3,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{75,59}</string>
                        <key>textureRect</key>
                        <string>{{692,53},{50,69}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side5.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,67}</string>
                        <key>textureRect</key>
                        <string>{{633,115},{56,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down1.png</string>
                        <key>spriteOffset</key>
                        <string>{10,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{77,70}</string>
                        <key>textureRect</key>
                        <string>{{691,124},{56,60}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_down5.png</string>
                        <key>spriteOffset</key>
                        <string>{3,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,60}</string>
                        <key>textureRect</key>
                        <string>{{633,177},{48,68}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side3.png</string>
                        <key>spriteOffset</key>
                        <string>{4,12}</string>
                        <key>spriteSourceSize</key>
                        <string>{67,80}</string>
                        <key>textureRect</key>
                        <string>{{683,186},{53,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>ultralisk_walk_side4.png</string>
                        <key>spriteOffset</key>
                        <string>{10,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{72,76}</string>
                        <key>textureRect</key>
                        <string>{{564,179},{58,52}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
