<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codeandweb</key>
	<dict>
		<key>generator</key>
		<string>TexturePacker 4.2.0 - http://www.codeandweb.com/texturepacker</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:09e5b752aeef97076a11e7181db0a86c:a5a2731b0a805e2497f58e1dc8156b2b:527184958d885b09e829f9cf8716d4c6$</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>Archon.1.png</string>
			<key>size</key>
			<string>{70,711}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_7.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,1},{68,70}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_1.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,73},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_10.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,144},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_2.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,215},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_3.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,286},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_4.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,357},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_5.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,428},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_6.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,499},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_8.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,570},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>archon_attack_up_9.png</string>
					<key>spriteOffset</key>
					<string>{4,14}</string>
					<key>spriteSourceSize</key>
					<string>{82,89}</string>
					<key>textureRect</key>
					<string>{{1,641},{68,69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
