<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77a3ac2a18b3cdc37b54867181d84d60:831a2fe92b78b8a57f263fc0dc1a3805:dd656e4cc2e0cba6d3f7405842b652dd$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Defiler.1.png</string>
                <key>size</key>
                <string>{254,299}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death8.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,34}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{65,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_side6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{69,38}</string>
                        <key>textureRect</key>
                        <string>{{68,1},{65,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{64,37}</string>
                        <key>textureRect</key>
                        <string>{{135,1},{64,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death2.png</string>
                        <key>spriteOffset</key>
                        <string>{5,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{58,40}</string>
                        <key>textureRect</key>
                        <string>{{201,1},{52,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death9.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{64,35}</string>
                        <key>textureRect</key>
                        <string>{{1,33},{64,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_side5.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{67,37}</string>
                        <key>textureRect</key>
                        <string>{{67,33},{64,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{63,38}</string>
                        <key>textureRect</key>
                        <string>{{133,37},{63,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_side1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{66,40}</string>
                        <key>textureRect</key>
                        <string>{{67,64},{63,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{63,37}</string>
                        <key>textureRect</key>
                        <string>{{1,65},{63,33}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_down5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{44,55}</string>
                        <key>textureRect</key>
                        <string>{{198,43},{52,39}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_side2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,43}</string>
                        <key>textureRect</key>
                        <string>{{132,73},{63,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{57,40}</string>
                        <key>textureRect</key>
                        <string>{{197,84},{56,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_side4.png</string>
                        <key>spriteOffset</key>
                        <string>{2,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{67,41}</string>
                        <key>textureRect</key>
                        <string>{{1,100},{63,30}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_side7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{64,39}</string>
                        <key>textureRect</key>
                        <string>{{66,100},{63,29}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_side3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,37}</string>
                        <key>textureRect</key>
                        <string>{{131,107},{62,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{58,41}</string>
                        <key>textureRect</key>
                        <string>{{195,126},{58,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_side8.png</string>
                        <key>spriteOffset</key>
                        <string>{2,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{68,36}</string>
                        <key>textureRect</key>
                        <string>{{66,131},{62,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_down8.png</string>
                        <key>spriteOffset</key>
                        <string>{4,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{47,55}</string>
                        <key>textureRect</key>
                        <string>{{130,141},{50,40}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_down6.png</string>
                        <key>spriteOffset</key>
                        <string>{2,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{43,53}</string>
                        <key>textureRect</key>
                        <string>{{1,132},{50,37}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_down4.png</string>
                        <key>spriteOffset</key>
                        <string>{1,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{46,53}</string>
                        <key>textureRect</key>
                        <string>{{182,168},{49,39}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_down7.png</string>
                        <key>spriteOffset</key>
                        <string>{3,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{45,53}</string>
                        <key>textureRect</key>
                        <string>{{53,164},{48,38}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_up2.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{52,48}</string>
                        <key>textureRect</key>
                        <string>{{1,171},{47,42}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_up1.png</string>
                        <key>spriteOffset</key>
                        <string>{4,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{51,50}</string>
                        <key>textureRect</key>
                        <string>{{103,183},{46,42}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_down3.png</string>
                        <key>spriteOffset</key>
                        <string>{3,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{46,55}</string>
                        <key>textureRect</key>
                        <string>{{50,204},{46,41}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_down1.png</string>
                        <key>spriteOffset</key>
                        <string>{7,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{51,51}</string>
                        <key>textureRect</key>
                        <string>{{1,215},{45,42}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_up4.png</string>
                        <key>spriteOffset</key>
                        <string>{7,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{51,47}</string>
                        <key>textureRect</key>
                        <string>{{1,259},{40,39}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_up5.png</string>
                        <key>spriteOffset</key>
                        <string>{3,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{42,49}</string>
                        <key>textureRect</key>
                        <string>{{43,259},{38,39}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_down2.png</string>
                        <key>spriteOffset</key>
                        <string>{7,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{51,50}</string>
                        <key>textureRect</key>
                        <string>{{83,247},{41,45}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_up3.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{51,46}</string>
                        <key>textureRect</key>
                        <string>{{126,227},{41,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_up7.png</string>
                        <key>spriteOffset</key>
                        <string>{6,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{48,48}</string>
                        <key>textureRect</key>
                        <string>{{169,209},{44,38}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_up6.png</string>
                        <key>spriteOffset</key>
                        <string>{7,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{50,46}</string>
                        <key>textureRect</key>
                        <string>{{215,209},{37,43}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_death1.png</string>
                        <key>spriteOffset</key>
                        <string>{5,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{53,39}</string>
                        <key>textureRect</key>
                        <string>{{169,249},{42,35}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>defiler_walk_up8.png</string>
                        <key>spriteOffset</key>
                        <string>{3,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{48,44}</string>
                        <key>textureRect</key>
                        <string>{{213,254},{40,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
