<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3566526502e92d24e3cceeff0a40cccd:6729cb5bb82ad8729dba50a250cf98e1:65619b603d9147bd19e9192be565a8be$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Lurker.1.png</string>
                <key>size</key>
                <string>{128,885}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{80,58}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{80,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_down7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{67,49}</string>
                        <key>textureRect</key>
                        <string>{{83,1},{39,67}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{80,58}</string>
                        <key>textureRect</key>
                        <string>{{1,59},{80,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_down4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,54}</string>
                        <key>textureRect</key>
                        <string>{{83,70},{43,59}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{79,57}</string>
                        <key>textureRect</key>
                        <string>{{1,116},{79,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_down3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,51}</string>
                        <key>textureRect</key>
                        <string>{{82,131},{45,59}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death8.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{81,58}</string>
                        <key>textureRect</key>
                        <string>{{1,173},{79,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_down6.png</string>
                        <key>spriteOffset</key>
                        <string>{4,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,47}</string>
                        <key>textureRect</key>
                        <string>{{82,192},{42,60}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,57}</string>
                        <key>textureRect</key>
                        <string>{{1,230},{76,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_down5.png</string>
                        <key>spriteOffset</key>
                        <string>{7,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{67,50}</string>
                        <key>textureRect</key>
                        <string>{{79,254},{42,58}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,58}</string>
                        <key>textureRect</key>
                        <string>{{1,289},{76,56}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_down1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{64,45}</string>
                        <key>textureRect</key>
                        <string>{{79,314},{39,62}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death9.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{79,58}</string>
                        <key>textureRect</key>
                        <string>{{1,347},{74,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_side5.png</string>
                        <key>spriteOffset</key>
                        <string>{5,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{58,56}</string>
                        <key>textureRect</key>
                        <string>{{77,378},{49,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death2.png</string>
                        <key>spriteOffset</key>
                        <string>{1,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,58}</string>
                        <key>textureRect</key>
                        <string>{{1,403},{70,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_death1.png</string>
                        <key>spriteOffset</key>
                        <string>{5,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,55}</string>
                        <key>textureRect</key>
                        <string>{{73,431},{53,66}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_up7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{66,61}</string>
                        <key>textureRect</key>
                        <string>{{1,462},{65,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_up3.png</string>
                        <key>spriteOffset</key>
                        <string>{2,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{63,59}</string>
                        <key>textureRect</key>
                        <string>{{68,499},{59,58}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_up1.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,61}</string>
                        <key>textureRect</key>
                        <string>{{1,524},{63,61}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_up2.png</string>
                        <key>spriteOffset</key>
                        <string>{2,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{63,62}</string>
                        <key>textureRect</key>
                        <string>{{66,559},{61,60}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_up6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,60}</string>
                        <key>textureRect</key>
                        <string>{{1,587},{59,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_up5.png</string>
                        <key>spriteOffset</key>
                        <string>{1,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,58}</string>
                        <key>textureRect</key>
                        <string>{{62,621},{58,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_up4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{60,57}</string>
                        <key>textureRect</key>
                        <string>{{1,646},{58,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_side3.png</string>
                        <key>spriteOffset</key>
                        <string>{1,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{60,55}</string>
                        <key>textureRect</key>
                        <string>{{61,680},{57,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_side2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{57,56}</string>
                        <key>textureRect</key>
                        <string>{{1,702},{55,55}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_side1.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,56}</string>
                        <key>textureRect</key>
                        <string>{{58,736},{55,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_side7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,57}</string>
                        <key>textureRect</key>
                        <string>{{1,759},{55,53}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_side4.png</string>
                        <key>spriteOffset</key>
                        <string>{4,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{60,56}</string>
                        <key>textureRect</key>
                        <string>{{58,792},{53,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_side6.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{58,56}</string>
                        <key>textureRect</key>
                        <string>{{1,814},{53,51}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>lurker_walk_down2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{63,44}</string>
                        <key>textureRect</key>
                        <string>{{56,845},{60,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
