<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3b4c347447de9cda4e668de310254ca:902635a2c51fb5708e9d1fe51fff3250:77e5bb633b7393b01cf70d7d295787da$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Mutalisk.1.png</string>
                <key>size</key>
                <string>{256,233}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_death2.png</string>
                        <key>spriteOffset</key>
                        <string>{7,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{43,40}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{34,32}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_down3.png</string>
                        <key>spriteOffset</key>
                        <string>{4,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{42,49}</string>
                        <key>textureRect</key>
                        <string>{{37,1},{48,33}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_death1.png</string>
                        <key>spriteOffset</key>
                        <string>{5,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{50,39}</string>
                        <key>textureRect</key>
                        <string>{{87,1},{40,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_up3.png</string>
                        <key>spriteOffset</key>
                        <string>{4,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{43,54}</string>
                        <key>textureRect</key>
                        <string>{{129,1},{52,36}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_up2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,43}</string>
                        <key>textureRect</key>
                        <string>{{183,1},{62,37}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_up4.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{51,43}</string>
                        <key>textureRect</key>
                        <string>{{1,36},{46,38}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_up5.png</string>
                        <key>spriteOffset</key>
                        <string>{2,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{56,41}</string>
                        <key>textureRect</key>
                        <string>{{49,37},{52,38}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_side3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{52,43}</string>
                        <key>textureRect</key>
                        <string>{{103,39},{49,39}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_side1.png</string>
                        <key>spriteOffset</key>
                        <string>{3,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{47,57}</string>
                        <key>textureRect</key>
                        <string>{{154,40},{53,40}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_side4.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{51,46}</string>
                        <key>textureRect</key>
                        <string>{{209,40},{42,42}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_side2.png</string>
                        <key>spriteOffset</key>
                        <string>{3,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{46,53}</string>
                        <key>textureRect</key>
                        <string>{{1,77},{49,40}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_side5.png</string>
                        <key>spriteOffset</key>
                        <string>{6,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{52,54}</string>
                        <key>textureRect</key>
                        <string>{{52,77},{47,42}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_down4.png</string>
                        <key>spriteOffset</key>
                        <string>{3,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{49,49}</string>
                        <key>textureRect</key>
                        <string>{{101,80},{46,43}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_death3.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{57,45}</string>
                        <key>textureRect</key>
                        <string>{{149,82},{55,43}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_death5.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{50,46}</string>
                        <key>textureRect</key>
                        <string>{{206,84},{49,45}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_up1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{60,46}</string>
                        <key>textureRect</key>
                        <string>{{1,121},{60,42}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_death4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{57,44}</string>
                        <key>textureRect</key>
                        <string>{{63,125},{57,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_down2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{62,47}</string>
                        <key>textureRect</key>
                        <string>{{122,127},{62,45}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_death6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,47}</string>
                        <key>textureRect</key>
                        <string>{{186,131},{55,47}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_death8.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{59,47}</string>
                        <key>textureRect</key>
                        <string>{{1,165},{58,47}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_down5.png</string>
                        <key>spriteOffset</key>
                        <string>{3,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{58,51}</string>
                        <key>textureRect</key>
                        <string>{{61,171},{52,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_death7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{61,52}</string>
                        <key>textureRect</key>
                        <string>{{115,174},{60,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>mutalisk_walk_down1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{59,52}</string>
                        <key>textureRect</key>
                        <string>{{177,180},{59,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
