<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:005e5c9b604ebab0ba96be9dcb9bfe99:33c14f955a06b902e11ffc3d17adb62d:771576d7bf86ccbd1ef36de2eda5b071$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Cloud.1.png</string>
                <key>size</key>
                <string>{125,308}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud09.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{69,59}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{66,59}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud06.png</string>
                        <key>spriteOffset</key>
                        <string>{3,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{69,57}</string>
                        <key>textureRect</key>
                        <string>{{69,1},{55,64}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud07.png</string>
                        <key>spriteOffset</key>
                        <string>{2,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{70,57}</string>
                        <key>textureRect</key>
                        <string>{{1,62},{56,68}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud10.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{68,56}</string>
                        <key>textureRect</key>
                        <string>{{59,67},{65,50}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud08.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{63,58}</string>
                        <key>textureRect</key>
                        <string>{{1,132},{58,63}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud05.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{66,56}</string>
                        <key>textureRect</key>
                        <string>{{61,119},{63,53}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud04.png</string>
                        <key>spriteOffset</key>
                        <string>{6,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{67,57}</string>
                        <key>textureRect</key>
                        <string>{{1,197},{58,54}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud03.png</string>
                        <key>spriteOffset</key>
                        <string>{5,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{64,55}</string>
                        <key>textureRect</key>
                        <string>{{1,253},{44,54}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud11.png</string>
                        <key>spriteOffset</key>
                        <string>{5,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{65,52}</string>
                        <key>textureRect</key>
                        <string>{{61,174},{60,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud02.png</string>
                        <key>spriteOffset</key>
                        <string>{9,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{63,51}</string>
                        <key>textureRect</key>
                        <string>{{61,220},{48,40}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud12.png</string>
                        <key>spriteOffset</key>
                        <string>{13,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{55,42}</string>
                        <key>textureRect</key>
                        <string>{{47,262},{39,34}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>cloud01.png</string>
                        <key>spriteOffset</key>
                        <string>{10,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{63,55}</string>
                        <key>textureRect</key>
                        <string>{{88,262},{36,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
