<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.2.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfc9b46ef728c881f1d72ab72e9bebf6:44f285b64692c7f0327c3ed5472accd4:804bb293f4eca2aea0e104474807fa39$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>Hydra.1.png</string>
                <key>size</key>
                <string>{126,496}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_death1.png</string>
                        <key>spriteOffset</key>
                        <string>{2,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{91,66}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{89,66}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_side2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,42}</string>
                        <key>textureRect</key>
                        <string>{{92,1},{33,39}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_side5.png</string>
                        <key>spriteOffset</key>
                        <string>{1,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{39,47}</string>
                        <key>textureRect</key>
                        <string>{{92,42},{33,38}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_death4.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{89,60}</string>
                        <key>textureRect</key>
                        <string>{{1,69},{89,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_side3.png</string>
                        <key>spriteOffset</key>
                        <string>{2,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{38,44}</string>
                        <key>textureRect</key>
                        <string>{{92,82},{31,36}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_side4.png</string>
                        <key>spriteOffset</key>
                        <string>{2,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{37,45}</string>
                        <key>textureRect</key>
                        <string>{{92,120},{31,35}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_death5.png</string>
                        <key>spriteOffset</key>
                        <string>{1,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{89,64}</string>
                        <key>textureRect</key>
                        <string>{{1,131},{88,62}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_death7.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{56,36}</string>
                        <key>textureRect</key>
                        <string>{{91,157},{28,56}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_death3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{88,67}</string>
                        <key>textureRect</key>
                        <string>{{1,195},{87,67}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_down1.png</string>
                        <key>spriteOffset</key>
                        <string>{8,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{38,50}</string>
                        <key>textureRect</key>
                        <string>{{90,215},{25,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_down6.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{28,41}</string>
                        <key>textureRect</key>
                        <string>{{90,261},{25,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_death2.png</string>
                        <key>spriteOffset</key>
                        <string>{3,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{90,66}</string>
                        <key>textureRect</key>
                        <string>{{1,264},{87,66}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_up5.png</string>
                        <key>spriteOffset</key>
                        <string>{6,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{34,49}</string>
                        <key>textureRect</key>
                        <string>{{90,304},{25,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_death6.png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{70,42}</string>
                        <key>textureRect</key>
                        <string>{{1,332},{60,38}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_up1.png</string>
                        <key>spriteOffset</key>
                        <string>{6,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{35,51}</string>
                        <key>textureRect</key>
                        <string>{{63,332},{24,47}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_side1.png</string>
                        <key>spriteOffset</key>
                        <string>{0,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{41,43}</string>
                        <key>textureRect</key>
                        <string>{{89,347},{36,41}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_death8.png</string>
                        <key>spriteOffset</key>
                        <string>{3,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{53,34}</string>
                        <key>textureRect</key>
                        <string>{{1,372},{46,23}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_up4.png</string>
                        <key>spriteOffset</key>
                        <string>{5,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{34,45}</string>
                        <key>textureRect</key>
                        <string>{{49,381},{37,23}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_side6.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{40,44}</string>
                        <key>textureRect</key>
                        <string>{{88,390},{36,40}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_up2.png</string>
                        <key>spriteOffset</key>
                        <string>{4,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{34,49}</string>
                        <key>textureRect</key>
                        <string>{{1,397},{45,24}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_up6.png</string>
                        <key>spriteOffset</key>
                        <string>{5,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{34,49}</string>
                        <key>textureRect</key>
                        <string>{{48,406},{24,45}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_down3.png</string>
                        <key>spriteOffset</key>
                        <string>{6,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{35,46}</string>
                        <key>textureRect</key>
                        <string>{{1,453},{24,42}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_down4.png</string>
                        <key>spriteOffset</key>
                        <string>{3,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{28,46}</string>
                        <key>textureRect</key>
                        <string>{{27,453},{24,42}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_down7.png</string>
                        <key>spriteOffset</key>
                        <string>{5,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{33,43}</string>
                        <key>textureRect</key>
                        <string>{{53,453},{24,41}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_down5.png</string>
                        <key>spriteOffset</key>
                        <string>{6,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{34,45}</string>
                        <key>textureRect</key>
                        <string>{{1,423},{43,24}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_down2.png</string>
                        <key>spriteOffset</key>
                        <string>{5,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{30,50}</string>
                        <key>textureRect</key>
                        <string>{{79,432},{43,23}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>hydra_walk_up3.png</string>
                        <key>spriteOffset</key>
                        <string>{2,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{33,52}</string>
                        <key>textureRect</key>
                        <string>{{79,457},{41,24}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
